@font-face {
  font-family: "blue-screen-font";
  src: url("../fonts/blue-screen-font/BlueScreenPersonalUseRegular-0W1M9.ttf") format("truetype");
}

@font-face {
  font-family: "alfena-pixel";
  src: url("../fonts/alfena-pixel/AlfenaPixel-Regular_demo.otf") format("opentype");
}

@font-face {
  font-family: "pixel-game";
  src: url("../fonts/pixel-game/Pixel\ Game.otf")
}


.show {display: block;}

.dropbtn {
    background-color: none;
    padding: 16px;
    font-style:normal;
    color: #493545;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    font-style: italic;
}

.box {
    background-color: #fff7f4;
    border-color:#ccbcc9;
    max-width: 80%;
    border-radius: 8px;
    padding: 3px;
}
.normalize {
    text-decoration: none;
}

.dropped-content {
    color:#3a3539
}

body {
  background-image: url("../images/istockphoto-1064140298-612x612.jpg");
  background-size: cover;
  color:#3a3539
}

a:link {
  color: #eba9c4;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #f883b2;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fcd0ea;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 0, 132);
  background-color: transparent;
  text-decoration: underline;
}

h1 {
    margin: 30px;
    font-family: "blue-screen-font"
}

h2 {
  font-family: "pixel-game";
  font-size: 32px;
}

p {
    margin: 30px;
    font-family: 'alfena-pixel', serif;
}