@font-face {
  font-family: "blue-screen-font";
  src: url("/fonts/blue-screen-font/BlueScreenPersonalUseRegular-0W1M9.ttf") format("truetype");
}

@font-face {
  font-family: "alfena-pixel";
  src: url("/fonts/alfena-pixel/AlfenaPixel-Regular_demo.otf") format("opentype");
}

body {
  background-image: url("images/istockphoto-1064140298-612x612.jpg");
  background-size: cover;
  font-family: 'alfena-pixel', serif;
}

header {
  font-family: "blue-screen-font";
  color:rgb(43, 39, 39);
  font-size:xx-large;
}

a:link {
  color: #eba9c4;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #f883b2;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fcd0ea;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 0, 132);
  background-color: transparent;
  text-decoration: underline;
}


/* GRID ELEMENT IDS */

#wrapper {
  display: grid;
  width: 60%;
  height: auto;
  grid-template-areas:
    "head head head"
    "intro intro nav";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px
}

#header {
  grid-area: head;
  background-color: #ebd1d9;
  border-color:rgb(99, 95, 95);
  color:rgb(43, 39, 39);
  display:flex;
}

#navigation {
  grid-area: nav;
  background-color: #af9a94;
  border-color:#484342;
  font-family:"alfena-pixel", serif;
  color:#2b2a29;
}

#intro {
  grid-area: intro;
  background-color: #c2b8b8;
  border-color:#7e7474;
  font-family:"alfena-pixel", serif;
  color:#2b2a29;
}

.box {
  display: block;
  width:100%;
  height:100%;
  margin: 2px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  padding: 10px;

}


.catstuff_cat:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:-60px;
    width:15em;
    border:5px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center;
    padding:10px;
  }
